<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NCMMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NCMMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NCMMS.Properties.Settings>
            <setting name="AppIsStart" serializeAs="String">
                <value>False</value>
            </setting>
        </NCMMS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <NCMMS.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>server=192.168.1.151;database=NCMMS;uid=NCMMS;pwd=NCMMS;</value>
            </setting>
            <setting name="MPIsSingleColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MPStrIPList1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1.1.1.1</string>
                        <string>2.2.2.2</string>
                        <string>3.3.3.3</string>
                        <string>4.4.4.4</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MPStrIPList2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>11.11.11.11</string>
                        <string>22.22.22.22</string>
                        <string>33.33.33.33</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MPTimeOut" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MPDataSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MPTTL" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MPNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MPInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MPIsRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MPIsAlarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MPAlarmFileUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="BackgroundPicUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindowBannerColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="SNMP_Community" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="SNMP_Port" serializeAs="String">
                <value>161</value>
            </setting>
            <setting name="SNMP_Trap_Port" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="SNMP_Timeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SNMP_Retry" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SNMP_CheckSrcFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </NCMMS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
